# ignore list

/dist/rF2QuickReverseGrid/

__pycache__/

# pipenv stuff
Pipfile
Pipfile.lock

# pylint stuff
pylintrc

# local config file
*.json

# random test file
test*.py

# random zip file
*.7z
*.zip